body{
	background-color: #232323;
	color: white;
	margin: 0;
	font-family: Ubuntu;
	text-transform: uppercase;
}

.square{
	background-color: purple;
	width: 30%;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 15%;
	transition: background .6s;
	-webkit-transition: background .6s; /*they are added to make transition property browser friendly
								for mozila and webkit*/	
	-moz-transition: background .6s;   
}

h1{
	color: white;
	text-align: center;
	line-height: 1.1;
	background-color: steelblue;
	margin: 0; 
	padding: 20px  0;
	transition: background 0.6s;
	-webkit-transition: background 0.6s;
	-moz-transition: background 0.6s;
}

#container{
	max-width: 600px;
	margin: 20px auto;
}

#navbar{
	background-color: white;
	height: 25px;
	color: black; 
	text-align: center;
} 

.selected{ 
	background-color: steelblue;
	color: white;
}

#colorCode{
	font-weight: 700;  
	font-size: 2em;
}

button{
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;  
	font-size: inherit;
	transition: all 0.4s;
	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	outline: none;
}

#message{
	display: inline-block;
	width: 20%;
}

button:hover{
	background-color: steelblue;
	color: white;
}